/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #161c2d;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: "poppins", sans-serif;
  color: #161c2d;
  overflow-x: hidden;
}

.content-container {
  width: 120rem;
  margin: 0 auto;
}

.mobile-menu {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile-menu-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #222222;
}

.mobile-menu-icon[name="close-outline"] {
  display: none;
}

/* NAVIGATION BAR */
.logo,
.footer-logo {
  font-size: 3.2rem;
  font-weight: 900;
}

a:link,
a:visited {
  padding: 0 1.6rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

a:active,
a:hover,
.active {
  text-decoration: underline;
  color: blue;
  font-weight: 500;
}

.nav-btn,
.pricing-btn {
  padding: 0 1.8rem;
  border: 2px solid #0000ff;
  border-radius: 8px;
  background-color: blue;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  height: 4rem;
  line-height: 1.2;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-btn:hover,
.pricing-btn:hover {
  background-color: #e9e9ff;
  border: 2px solid #0000ff;
  border-radius: 0.8rem;
  color: blue;
  box-shadow: inset 0 0 0 0.1px #0000ff;
}

.header {
  background-color: #fcfcff;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  width: 80%;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HERO SECTION */

.display {
  font-size: 4.4rem;
  line-height: 1.25;
  margin: 9.8rem auto 1.6rem;
  text-align: center;
  max-width: 70rem;
}

.supporting-text,
.p-supporting-text {
  font-size: 1.8rem;
  text-align: center;
  margin: 0px auto 4.8rem;
  max-width: 60rem;
}

.button {
  width: 41.7rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-1,
.btn-2 {
  font-size: 1.6rem;
  margin: 0 auto 4.8rem;
  border-radius: 1.2rem;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
}

.btn-1 {
  background-color: blue;
  color: white;
  font-weight: 500;
  border: 2px solid #0000ff;
  transition: all 0.3s;
}

.btn-2 {
  border: none;
  background-color: white;
  font-weight: 600;
}

.btn-1:hover,
.cta-btn-2:hover {
  background-color: rgb(233, 233, 255);
  border: 2px solid blue;
  border-radius: 1.2rem;
  color: blue;
  box-shadow: inset 0 0 0 0.1px #0000ff;
}

img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto 4.8rem;
}

/* UNIQUE PROPOSITIONS */
.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4.8rem;
  align-items: center;
  justify-content: space-between;
}

.feature {
  width: 28%;
}

.feature-icon {
  height: 3.7rem;
  width: 3.7rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.sub-section,
.faq-heading {
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.feature-p,
.p-feature-p {
  font-size: 1.5rem;
  color: #5b606c;
}

/* GETTING STARTED */

.getting-started,
.review-container {
  background-color: #f4f7fa;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.gs-content {
  flex-basis: 41.5rem;
  margin-left: 0;
}

.section-heading {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.gs-text {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.gs-img {
  flex-basis: 51.4rem;
  height: 45rem;
  margin: 10rem 0;
}

/* STATISTICS */
.stat-value {
  font-size: 4.8rem;
  font-weight: bolder;
  color: #161c2d;
  text-align: center;
}

.stat-text {
  font-size: 1.7rem;
  color: #5b606c;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 29rem;
  gap: 1.4rem;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 9.6rem auto;
}

/* MANAGE */
.manage-heading,
.pricing-heading {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.manage-number,
.que-mark {
  font-size: 1.7rem;
  font-weight: bolder;
  color: #473bf0;
  background-color: #eaeafd;
  border-radius: 50%;
  padding: 1.2rem 2.1rem;
  margin-top: 6px;
}

.manage-sub-section {
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.manage-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  width: 80%;
  margin: 0 auto;
}

.process {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.2rem;
  margin-bottom: 3rem;
}

/* REVIEWS */
.reviews {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  gap: 6rem;
  padding: 10rem 0;
}

.review {
  flex-basis: 30rem;
}

.review-img {
  width: 7.2;
  height: 7.2rem;
  margin-bottom: 2.4rem;
}

.review-heading,
.review-p,
.reviewer,
.review-occupation {
  text-align: center;
  margin-bottom: 2.4rem;
}

.reviewer {
  margin-bottom: 4px;
}

/* PRICING */
.pricing-container {
  background-color: #161c2d;
  padding: 4.8rem 0;
}

.pricing-heading,
.faq-heading {
  color: white;
}
.p-supporting-text,
.p-feature-p,
.faq-5 {
  color: #adb0b5;
}

.pricing-cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.2rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 1.4rem;
  border-radius: 0.8rem;
}

.pricing-level {
  font-size: 1.7rem;
  font-weight: bold;
  color: #473bf0;
  background-color: #eaeafd;
  border-radius: 3rem;
  padding: 1.2rem 2.4rem;
  margin: 2.4rem auto;
}

.ptext-1,
.ptext-2 {
  text-align: center;
  margin-bottom: 2.4rem;
}

.ptext-2 {
  margin: 0 1.2rem 0 1.2rem;
}

.pricing-btn {
  margin: 0 1.6rem;
}

.faqs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  gap: 3.2rem;
  margin: 6.4rem auto;
}

.faq {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}
.que-mark {
  background-color: #68d585;
  color: white;
}

.support {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 4.8rem auto 0;
  grid-column: 1/-1;
}

.faq-link {
  color: #68d585;
}

.faq-link:hover {
  color: white;
}

/* CTA */

.cta,
footer {
  width: 80%;
  margin: 8rem auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cta-supporting-text {
  font-size: 1.8rem;
  text-align: left;
  max-width: 50rem;
}

.cta-btn {
  width: 34rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-btn-1,
.cta-btn-2 {
  padding: 1.4rem 2.8rem;
  border: 2px solid #0000ff;
  border-radius: 1.2rem;
  background-color: #eeedfd;
  color: blue;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.cta-btn-1 {
  border: none;
}
.cta-btn-2 {
  background-color: blue;
  color: white;
}

/* FOOTER */
footer {
  gap: 2.4rem;
}
.footer-logo {
  margin: 0 0 3.2rem;
}

.socials {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.4rem;
  margin-top: 3.2rem;
}

.social-logo {
  width: 1.9rem;
  height: 1.9rem;
  margin: 0;
}

.footer-content-1 {
  flex-basis: 26rem;
}
li {
  list-style: none;
  margin-bottom: 1.6rem;
}

li:first-child {
  margin-left: 1.6rem;
  color: #6e6e6e;
}
